<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>

    <script src="/app/dashboard.js"></script>
    <link rel="stylesheet" href="/app/dashboard.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Expenser</a>
        <div class="dropdown ml-auto menu">
            <a class="btn btn-danger dropdown-toggle" href="#" data-toggle="dropdown">{{firstName}}</a>
            <div class="dropdown-menu">
                <a data-toggle="modal" data-target="#addTransaction" class="m-1 p-1 bg-white">Add Transaction <i class="far fa-plus-square"></i></a>
                <hr>
                <a class="dropdown-item" href="/account/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="addTransaction" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Your Transaction</h5>
                </div>
                <div class="modal-body">
                    <form action="/dashboard" method="POST">
                        <div class="form-group">
                            <label for="inpPrice">Price</label>
                            <input type="number" class="form-control" name="inpPrice" id="inpPrice">
                        </div>
                        <div class="form-group">
                            <label for="inpTitle">Give Your Transaction a Title</label>
                            <input type="text" class="form-control" name="inpTitle" id="inpTitle">
                        </div>
                        <button type="submit" class="btn btn-info"><i class="fas fa-plus"></i> ADD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group" id="ulexpense">
        
    </ul>
    <button type="button" class="btn btn-warning rounded-circle" data-toggle="modal" data-target="#addTransaction" id="btnAdd"><i class="fas fa-plus"></i></button>
</body>

</html> 