<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} > Expenser</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>

    <style>
        body {
            background-image: url("/utils/bgimg2.png");
            background-position: center;
            background-size: cover;
        }
    </style>

    <link rel="stylesheet" href="/app/style.css">
</head>

<body class="loginbody">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bolder" href="/">
            <img src="/utils/logo.png" width="35" height="35" class="d-inline-block align-top" alt="logo"
                loading="lazy">Expenser
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/whyExpenser.html">Why Use Expenser</a>
                </li>
            </ul>
            <a href="/account/signup"><button class="btn btn-info rounded-pill m-1">Signup</button></a>
        </div>
    </nav>
    <div style="display: flex; justify-content: center;" class="col">
        <div class="card col-sm-12 col-md-6 login rounded-lg">
            <h1 class="text-center text-danger font-weight-bold font-italic card-header"><u>Login</u></h1>
            <form class="m-3 p-3 card-body" action="/account/login" method="POST">
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input type="text" class="form-control text-center rounded-pill" name="username" id="username"
                        required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control text-center rounded-pill" name="password" id="password"
                        required>
                </div>
                <button type="submit" class="btn btn-info m-1 rounded-pill">Login</button>
                OR
                <a href="/account/signup"><button type="button"
                        class="btn btn-info m-1 rounded-pill">Signup</button></a>
            </form>
        </div>
    </div>

</body>

</html>