#listprice {
    background-color: coral;
    color: whitesmoke;
    font-family: cursive;
    font-style: italic;
}

#listtitle {
    font-size: 17pt;
    font-family: cursive;
    font-style: italic;
    color: tomato;
}

#btnAdd {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.menu {
    margin-right: 10px;
}

.dropmenu {
    cursor: pointer;
}