.carousel-item{
    height: 550px;
    font-size: 30pt;
    font-family: cursive;
}

h5 {
    font-size: 40pt;
}

.carousel-item img {
    height: 550px;
}

.start {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.login {
    background-color: lavenderblush;
    margin-top: 50px;
    padding: 30px;  
}

.signup {
    background-color: lavenderblush;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;    
}
