.carousel-item{
    height: 600px;
    font-size: 30pt;
    font-family: cursive;
}

h5 {
    font-size: 40pt;
}

.carousel-item img {
    height: 600px;
}

.start {
    margin: 30px;
    display: flex;
    justify-content: center;
}