<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About > Expenser</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>

    <link rel="stylesheet" href="../app/about.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-sm-12">
        <a class="navbar-brand font-weight-bolder" href="/">Expenser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/whyExpenser.html">Why Use Expenser</a>
                </li>
            </ul>
            <a href="/dashboard"><button class="btn btn-info rounded-pill m-1">Login</button></a>
            <a href="/account/signup"><button class="btn btn-info rounded-pill m-1">Signup</button></a>
        </div>
    </nav>

    <div class="container">
        <div class="card m-5 p-5 font-italic text-monospace font-weight-bold">
            <h1>Why Use Expenser ?</h1>
            <p>Expenser is a web app that allows you to save your day to day transactions/purchases/expenses etc. into a very Simple
                Non Complex Form so that you could track your Spendings anytime easily without any hustle
            </p>
        </div>
    </div>

    <div class="container">
        <div class="text-monospace font-italic card m-3 p-3 bg-secondary text-center">
            <ul class="list-group">
                <li class="list-group-item">Saves Time => No need to find bills to track every expense</li>
                <li class="list-group-item">Analyses Your Transactions in form of Graphs and Charts</li>
                <li class="list-group-item">Builds Automated Budget based on your Spendings</li>
                <li class="list-group-item">You've got yourself a free Accountant</li>
            </ul>
        </div>
    </div>

    <footer class="text-muted" id="footer">
        <div class="container">
            <p class="text-center">&copy; Expenser 2020 #A RGTechCafe Product💻</p>
        </div>
    </footer>
</body>
</html>